@model MVC3Tests.Models.Fund
<!DOCTYPE html>

<html>
    <head>
        <title>Edit Fund</title>

    </head>
    <body>
        <div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <fieldset>
                    <legend>Fund</legend>
                    @Html.EditorForModel()
                    <input type="submit" value="Save" />
                </fieldset>
            }
        </div>
    </body>
</html>