@model MVC3Tests.Models.Fund

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Edit Fund</title>
    </head>
    <body>
        <div>
            @using (Html.BeginForm()) {
                @Html.EditorForModel()
                }
        </div>
    </body>
</html>