body
{
    font-size: 75%;
    font-family: Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
    background-color: rgb(251, 253, 221);
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
    color: rgb(0, 55, 95);
}

.editor-field 
{
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

th {
    text-align: left;

    padding-bottom: 4px;
    padding-top: 2px;
    background-color: rgb(2, 117, 58);
    color: white;
    padding-left: 10px;
}
table {
    border: 1px solid grey;
}
td {
    padding-left: 10px;
    padding-right: 30px;
    vertical-align: text-top;
}

