@using MVC3Tests.Models

@model IEnumerable<Fund>

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    @foreach(var fund in Model)
    {
        <div>@Html.ActionLink("Edit", "Edit", "Fund", new { fund.ID }, new{}) @fund.Name</div>

    }
</p>
